>colab에서 작성되었습니다! 


setting: 런타임-> 런타임 유형->하드웨어 가속기 :GPU

In [1]:
print("test")

test

# **변수, 자료형**

In [2]:
# 변수 선언
name = "삼성전자"
stock_price = 47800
등락률 = -1.75
buy = False

In [ ]:
id(name)

140483051310280

In [3]:
# 자료형 확인
print(type(name))
print(type(stock_price))
print(type(등락률))
print(type(buy))
print(type([]))
print(type({})) 
print(type(()))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>

In [6]:
#형변환
i=input("아무 숫자나 입력해주세요.")

아무 숫자나 입력해주세요.12.232

In [7]:
i

'12.232'

In [ ]:
print(type(i))

<class 'str'>

In [ ]:
i= int(i)
print(type(i))

<class 'int'>

# **연산자**

In [ ]:
#산술 연산자
a = 20
b = 3
c = a+b
d = a*b
e = a/b
f = a%b

In [ ]:
print(c)
print(d)
print(e)
print(f)

23
60
6.666666666666667
2

In [ ]:
#복합 연산자: 대입 연산자와 다른 연산자가 묶여서 정의된 형태
a =10
a = a+3
a

13

In [ ]:
#위의 코드에 복합 연산자를 적용하면 다음과 같음 
a =10
a +=3
a

13

In [ ]:
#관계 연산자:같다, 같지 않다, 작다, 크다 판단-> 조건문에서 많이 쓰임!
a= 10
b= 14
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)
print(a<=b)

False
True
False
False
True

In [ ]:
#논리 연산자: and, or, not 조건문에서 많이 쓰임!
a= 10
b= 14
print((a==10) and (b==14))
print((a==10) and (b!=14))
print((a>10) or(b>10))
print(not(a>b))

True
False
True
True

# **문자열**

In [ ]:
#문자열 연산-> +: 문자열 연결,  *: 문자열 반복
a='동학'
b='개미'
c='운동'
d =' 파이팅! '
e=(a+b+c)+(d*2)

In [ ]:
print(e)

동학개미운동 파이팅!  파이팅!

In [ ]:
#문자열 인덱싱: 문자열은 여러 개의 문자로 구성되어 있기 때문에 인덱싱 가능
ex1 = "naver 주가는 152,500"

In [ ]:
#len() 문자열 길이 계산
len(ex1)

In [ ]:
#문자 추출
print(ex1[0])
print(ex1[0]+ex1[1])

n
na

In [ ]:
#문자열 슬라이싱
ex1[10:17]

'152,500'

In [ ]:
ex1[-7:] #-7부터 끝(-1)까지

'152,500'

In [ ]:
ex1[:]

'naver 주가는 152,500'

In [ ]:
# 다음의 ex2는 연산 가능할까요?
ex2=ex1[-7:]
ex2

'152,500'

In [ ]:
#문자열이어서 형변환하려 했는데 안된다?
print(type(ex2))

<class 'str'>

In [ ]:
#문자열 수정 replace 메소드
ex3 = ex2.replace(',','')
ex3

'152500'

In [ ]:
ex3*2

'152500152500'

In [ ]:
ex4=int(ex3)
print(ex4)
print(type(ex4))

152500
<class 'int'>

In [ ]:
ex4*2

305000

In [ ]:
#split 메소드: 아래의 코드는 문자열을 띄어쓰기 단위로 쪼개도록 함
ex1.split(' ')

['naver', '주가는', '152,500']

In [ ]:
#문자열 포맷팅 내 문자열,숫자,정보 대입

#원래라면 문자열 연산 이용
n=2
hi= '하이닉스'
print('시가총액 '+str(n)+'위는 '+hi+'입니다.')
#위의 방법은 번거롭다!
print('시가총액 {}위는 {}입니다.'.format(2,'하이닉스'))

시가총액 2위는 하이닉스입니다.
시가총액 2위는 하이닉스입니다.

In [ ]:
#Escape 문자->1.문자열 내에서 다른 의미로 해석된다. 2.출력되는 형식에 영향을준다.
print(') #이렇게 하면 에러가 난다는 것을 보여드리기 위해 넣은 코드 
print('\'')
print('kqr 5기\t여러분\n환영합니다') #탭(\t)/ 줄바꿈(\n)

SyntaxError: ignored

# **리스트**
여러 개의 데이터를 ‘순서대로’ 저장하고 관리

```
리스트명 = [요소1, 요소2, 요소3,···]
```


> 리스트 인덱싱

리스트의 인덱스 역시 문자열 인덱스처럼 0부터 시작


```
>>> price = [9130, 9150, 9150, 9300, 9400]
>>> price[0]
9130
>>> price[1]
9150
>>> price[-1]
9400
```


> 리스트 슬라이싱


```
>>> price = [9130, 9150, 9150, 9300, 9400]
>>> price[1:4]
[9150,9150,9300] 
```


 > 자주 쓰이는 메소드
 
```
리스트.append(x) : 리스트의 맨 마지막에 x를 추가
리스트.insert(a,b) : 리스트의 a번째 위치에 b를 삽입
del 리스트명[a] : 리스트의 a번째 요소 값을 삭제
리스트.remove(x) : 리스트에서 첫 번째로 나오는 x를 삭제하는 함수
 리스트.sort() : 리스트의 요소를 순서대로 정렬
```

In [ ]:
#코스피 시가총액 1위~3위를 출력하고자함
kospi_top6 = ['삼성전자', 'SK하이닉스', '삼성전자우', '삼성바이오로직스', 'NAVER','셀트리온']
print(len(kospi_top6))
kospi_top3 = kospi_top6[:3]
print(kospi_top3)

6
['삼성전자', 'SK하이닉스', '삼성전자우']

In [ ]:
kospi_top6.append('LG화학')

In [ ]:
kospi_top6 # 리스트 자체가 변해버림

['삼성전자', 'SK하이닉스', '삼성전자우', '삼성바이오로직스', 'NAVER', '셀트리온', 'LG화학']

In [ ]:
kospi_top7=kospi_top6

In [ ]:
kospi_top7.insert(7, '현대차')

In [ ]:
kospi_top8=kospi_top7

['삼성전자', 'SK하이닉스', '삼성전자우', '삼성바이오로직스', 'NAVER', '셀트리온', 'LG화학', '현대차', '현대차']

In [ ]:
kospi_top8

In [ ]:
del kospi_top6[-1]

In [ ]:
kospi_top6

['삼성전자', 'SK하이닉스', '삼성전자우', '삼성바이오로직스', 'NAVER', '셀트리온', 'LG화학', '현대차']

# **튜플** 

1) 리스트는 '[' 와 ']'를 사용하는 반면 튜플은 '('와 ')'를 사용한다. 
2) 리스트는 리스트 내의 원소를 변경할 수 있지만 튜플은 변경할 수 없다.

In [ ]:
t = ('a', 'b', ('ab', 'cd'))

In [ ]:
del t[0] #튜플은 수정이 안된다는 것을 보여드리기 위해 넣은 코드

TypeError: ignored

# **딕셔너리**
영어사전과 유사하게 키(key)와 값(value)이라는 것을 쌍으로 저장함으로써 더 쉽게 저장된 값을 찾을 수 있는 구조

```
dict = {Key1:Value1, Key2:Value2, Key3:Value3 ...}
```


> 딕셔너리에 데이터 추가,삭제


1. dict[key] = value 입력 : 이에 해당하는 key:value라는 딕셔너리 쌍이 추가
2. del dict[key]: key에 해당하는 {key:value} 쌍이 삭제

In [ ]:
#딕셔너리로부터 키-값 구하기
price = {'KAKAO': 80000, 'naver':800000, 'daeshin':30000}
print(price['naver']) #key값으로 value값 접근
print(price.keys())
print(price.values())

800000
dict_keys(['KAKAO', 'naver', 'daeshin'])
dict_values([80000, 800000, 30000])

In [ ]:
print(type(price.values()))
list(price.values())

<class 'dict_values'>

[80000, 800000, 30000]

In [ ]:
#데이터 추가 삭제, 키 값 검색
price['삼성전자'] =45000
price
'삼성전자' in price.keys()

True

In [ ]:
del price['삼성전자'] 
price

{'KAKAO': 80000, 'daeshin': 30000, 'naver': 800000}

In [ ]:
'삼성전자' in price.keys()

False

# **if문**


```
if 조건문:
    수행할문장1
    수행할문장2
```

> if문 키워드
1. if = 만약 ~라면
2. else = 그렇지 않으면
3. elif = 그렇지 않고 ~이면
4. pass = 아무일도 하지 않게 설정


> 조건문 만들 때 주의할 점
1. 조건문의 끝에는 콜론(:)을 입력합니다.
4. 조건이 참일 때 수행될 문장은 **들여쓰기**해야 합니다.

In [ ]:
# 매수가 기준으로 매도 조건을 가정하고
# 매수가와 현재가가 주어졌을 때 어떤 상황일 지 알아보아요
매수가= 45000
현재가 = 50000
if (매수가*0.95 <현재가) and (현재가 < 매수가*1.1):
  print("Holding")
elif 매수가*0.95 >현재가:
    print("sell")
else :
    print("sell")

sell

# **for문**


```
for 변수 in 리스트(또는 튜플,문자열);
****수행할 문장1
****수행할 문장2
```

> 1. for = ~에 대한
2. range  = 범위, range(1, n+1)은 1부터 n까지의 숫자 범위

In [ ]:
 for i in range(0, 11):
        print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# 종목마다 다른 수량만큼 주식을 매수하고자 함 
# Naver 10주, Samsung 5주, SK Hynix 30주

interest_stocks = {"Naver":10, "Samsung":5, "SK Hynix":30}
print(interest_stocks.items())
for company, stock_num in interest_stocks.items():
        print("{}: Buy {}".format(company, stock_num))

dict_items([('Naver', 10), ('Samsung', 5), ('SK Hynix', 30)])
Naver: Buy 10
Samsung: Buy 5
SK Hynix: Buy 30
ERROR! Session/line number was not unique in database. History logging moved to new session 59

# **while문**

```
while 조건문:
     수행할 문장1
     수행할 문장2
```
조건식이 '참'인 동안 괄호 안의 내용을 반복적으로 수행


> while문 키워드
1. while = ~동안
2. continue = 특정 조건에서 코드를 실행하지 않고 다음 단계로 이동
3. break = while문을 강제로 종료


> while문의 동작원리
1. while 문의 조건이 참인가?
2. (참일 경우) 내부의 코드 반복
3. (거짓일 경우) 프로그램 종료

In [ ]:
#5번의 상한가가 발생한 금액을 알아보자

price = 45000
day = 1
while day < 6 :
    price *= 1.3
    day += 1
print(price)

167081.85

In [ ]:
num = 0
while 1:
        print(num)
        if num == 5:
                break
        num += 1

0
1
2
3
4
5

In [ ]:
num = 0
while num < 6:
        num += 1
        if num == 3:
                continue
        print(num)

1
2
4
5
6

# **함수**

```
def 함수명(입력 인수);
    수행할 문장1
    수행할 문장2
        .
            .
   return 결과값
```

In [ ]:
# 입력값 x, return값 x

def my_print():
  print('''
  ---------------
   퀀트 투자
  ---------------''')

my_print()

  ---------------
   퀀트 투자
  ---------------

In [ ]:
# 입력값 x, return값 x
def add_func():
  sum= a+b
  print(sum)


a= int(input('첫번째 수 입력'))
b= int(input('두번째 수 입력'))
add_func()

첫번째 수 입력12
두번째 수 입력2
14

In [ ]:
# 입력값 o, return값 o
def add_func(v1,v2):
  sum= v1+v2
  return sum


a= int(input('첫번째 수 입력'))
b= int(input('두번째 수 입력'))
print(add_func(a,b))

In [ ]:
# 입력값 多, return값 多
def func2(*para):
  sum = 0 
  mul = 1 
  for i in para:
    sum += i
    mul *= i
  return sum, mul


resuit = func2(1,23,34,5,6)
print(resuit)

(69, 23460)

In [ ]:
def all_add_function(para):
  sum=0
  for i in para:
    sum+=i
  return sum


input_numbers = input('더할 수를 여러 개 입력하시오.').split()
sum = all_add_function(map(int,input_numbers))
print (sum)

더할 수를 여러 개 입력하시오.2 4 5
11

In [ ]:
#지역변수와 전역변수
def house1():
  a= 20
  print (a)

def house2():
  global a
  a= 30
  print (a)
  
house1()
house2()
print (a)
a= 10
print (a)

20
30
30
10

# **클래스**

In [ ]:
class stock:
        market = "kospi"
        def __init__(self):
         print("객체가 생성되었습니다.")

        def set_info(self, name,code,price):
                self.name = name
                self.code = code
                self.price = price
                
        def print_info(self):
                print("--------------------")
                print(" "+ self.market)
                print(" 종목: ", self.name)
                print(" 종목코드: ", self.code)
                print(" 주가: {}원 ".format(self.price))
                print("--------------------")

In [ ]:
stock.market

'kospi'

In [ ]:
type(ex1)

str

In [ ]:
ex1 = stock()

객체가 생성되었습니다.

In [ ]:
ex1.set_info('카카오','035720',150500)

In [ ]:
ex1.print_info()

--------------------
 kospi
 종목:  카카오
 종목코드:  035720
 주가: 150500원
--------------------

In [ ]:
ex2 = stock()

객체가 생성되었습니다.

In [ ]:
ex2.market='kosdaq'

In [ ]:
ex2.set_info('씨젠','096530',112400)

In [ ]:
ex2.print_info()

--------------------
 kosdaq
 종목:  씨젠
 종목코드:  096530
 주가: 112400원
--------------------

In [ ]:
#상속의 개념
class Parent:
        def can_sing(self):
                print("Sing a song")

In [ ]:
father = Parent()
father.can_sing()

Sing a song

In [ ]:
class LuckyChild(Parent):
        def can_dance(self):
                print("Shuffle Dance")

In [ ]:
child = LuckyChild()
child.can_sing()
child.can_dance()

Sing a song
Shuffle Dance